@font-face{
	font-family: 'ALSSchlangesans';
	src: url(../fonts/ALSSchlangesans.otf);
}

/* @font-face{
	font-family: 'ALSSchlangesans';
	src: url(../fonts/ALSSchlangesans-Light.otf);
	font-weight: light;
}
 */
@font-face{
	font-family: 'ALSSchlangesans';
	src: url(../fonts/ALSSchlangesans-Bold.otf);
	font-weight: bold;
}

body{
	font-family: 'ALSSchlangesans';
	font-size: 16px;
}

h2{
	color: #15aa4c;
	font-size: 44px;
	font-weight: bold;
}

h4{
	color: #3a15b9;
	font-weight: bold;
	font-size: 20px;
}
/* header{
	height: 70px;
	width: 100%;
	background: #222;
	position: fixed;
	display: block;
	padding-bottom: 10px;
	z-index: 9;
	box-sizing: border-box;
} */

/* #fullpage{
	margin-top: 40px;
} */

.section{
	text-align: center;
}

.content{
	background-position: 50% 50%;
	background-size: contain;
	height: 100%;
	background-repeat: no-repeat;
}

#sec1 .content{background-image: url(../img/1.png);}

@media screen and (min-width:1000px){
	#sec1 .content{background-size: cover;}
}
#sec2 .content{background-image: url(../img/2.png)}
#sec3 .content{background-image: url(../img/3.png)}
#sec4 .content{background-image: url(../img/4.png)}
#sec5 .content{background-image: url(../img/5.png)}
#sec6 .content{background-image: url(../img/6.png)}
#sec10 .content{background-image: url(../img/9.png)}


.page-nav-wrapper li.active{
	background:#666;
	background: rgba(58, 21, 185, 0.5);
	color: #fff;
}

.page-nav-wrapper .brand a{
	color: #15aa4c;
	font-size: 18px;
}

.page-nav-wrapper li a,
.page-nav-wrapper li a:focus{
	transition: all .7s;
	text-decoration:none;
	color: #3a15b9;
}
.page-nav-wrapper li.active a:hover,
.page-nav-wrapper li.active a:focus{
	color: #3a15b9;
}
.page-nav-wrapper li:hover,
.page-nav-wrapper li:focus{
	background: rgba(255,255,255, 1);
}
.page-nav-wrapper li a,
.page-nav-wrapper li a:hover,
.page-nav-wrapper li.active a,
.page-nav-wrapper li.active a:hover{
	padding: 6px 16px;
	display:block;
	background: transparent;
}
.page-nav-wrapper li.active a{
	color: #fff;
}

.page-nav-wrapper{
	position: fixed;
	z-index: 70;
	background: #fff;
}
@media screen and (min-width:768px){
	.page-nav-wrapper li {
		display:inline-block;
		margin: 5px 9px;
		color: #3a15b9;
		background:#fff;
		background: rgba(255,255,255, 0.8);
		-webkit-border-radius: 50000px;
				border-radius: 50000px;
	}

	.page-nav-wrapper{
		font-size: 16px;
		font-weight: bold;
		position: fixed;
		background: rgba(0,0,0,0);
		top: 0;
		left: 0;
		height: 40px;
		z-index: 70;
		width: 100%;
		padding: 0;
		margin: 0;
	}
}
.vk-main{
	margin-top: -10px;
	font-size: 20px;
}

.header-row{
	margin-bottom: 30px;
}

.navbar-toggle{
	z-index: 8;
}

.navbar-toggle .icon-bar{
	background: #15aa4c;
}

.btn-lnk{
	color: #131ab7;
	font-size: 17px;
}

.float-join-btn{
	display: block;
	height: 60px;
	width: 60px;
	text-align: center;
	padding-top: 15px;
	font-size: 25px;
	position: fixed;
	bottom: 40px;
	right: 40px;
	border-radius: 5000px;

	background-color: #ffb700;
	color: #fff;
	box-shadow: 0 0 0 0 rgba(256, 186, 0, 0.7);
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.float-join-btn:hover,
.float-join-btn:focus,
.float-join-btn:active{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
	color: #fff;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(256, 186, 0, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(256, 186, 0, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(256, 186, 0, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(256, 186, 0, 0);}}

.joinPage__text{
	text-align: left;
	color: #3a15b9;
	font-weight: bold;
	font-size: 20px;
}

.joinPage__text h3{
	font-weight: bold;
	font-size: 24px;
}

.joinPage__text ul{
	list-style: circle;
}

.join-btn,
.join-btn:focus{
	border-radius: 5000000px;
	/*background-color: transparent;*/
	border: 2px solid #14aa4c;
	font-weight: bold;
	color: #14aa4c;
	transition: all .7s;
	padding: 10px 20px;
	margin: 60px 20px;
	margin-bottom: 0px;

}

.join-btn:hover{
	border-radius: 5000000px;
	background-color: #15aa4c;
	font-weight: bold;
	color: #fff;

}

@media screen and (max-width:767px){
	h2{
		font-size: 30px;
	}

	.contacts-item-text{
		font-size: 14px;
		text-align: left;
	}
	.contacts-item-text .btn-lnk{
		padding: 2px 0;
		font-size: 14px;
	}
}

@media screen and (min-width:382px) and (max-width:767px){
	#sec7 img{
		width: 70px;
	}
}
